.events-section {
  thead, thead tr:hover {
    background-color: #454545;
  }
  thead {
    td {
      color: white;
    }
  }
}

.contract-event {
  td {
    vertical-align: middle;
  }
  .dropdown {
    background-color: #fcfcfc;
    h1 {
      font-weight: bold;
    }
    .extra-info {
      color: #b7b7b7;
    }
  }
}
