.dcr-ui {
  height: 100%;

  .dcr-ui-graph {
    height: 100%;
    width: 70%;
  }

  .dcr-ui-menu {
    position: absolute;
    height: 100%;
    width: 30%;
    top: 0;
    right: 0;
    overflow-y: auto;
    background-color: #e5e5e5;

    & > *:not(:first-child) {
      margin-top: 2rem;
    }

    hr {
      margin: .5rem 0;
    }

    h1, h2, h3, h4, h5, h6 {
      color: #555;
    }

    label.label {
      color: #959595;
    }

    // Remove if adding labels
    .field:not(:first-child) {
      margin-top: .75rem;
    }

    div.input > * {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .imitate-disabled {
      background-color: whitesmoke;
      border-color: whitesmoke;
      box-shadow: none;
      color: #7a7a7a;

      &.is-small {
        border-radius: 2px;
        font-size: 0.75rem;
      }
    }

    .activity-state {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 1rem;

      & > label:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

