.dcr-ui {
  height: 100%;

  .dcr-ui-graph {
    height: 100%;
    width: 70%;
    overflow: hidden;
  }

  .dcr-ui-menu {
    position: absolute;
    height: 100%;
    width: 30%;
    max-width: 300px;
    top: 0;
    right: 0;
    overflow-y: auto;
    background-color: #e5e5e5;

    & > *:not(:first-child) {
      margin-top: 2rem;
    }

    hr {
      margin: .5rem 0;
    }

    h1, h2, h3, h4, h5, h6 {
      color: #555;
    }

    label.label {
      color: #959595;
    }

    // Remove if adding labels
    .field:not(:first-child) {
      margin-top: .75rem;
    }

    div.input > * {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .imitate-disabled {
      background-color: whitesmoke;
      border-color: whitesmoke;
      box-shadow: none;
      color: #7a7a7a;

      &.is-small {
        border-radius: 2px;
        font-size: 0.75rem;
      }
    }

    .activity-state {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 1rem;

      & > label:not(:last-child) {
        margin-right: 1rem;
      }
    }

    .execution-tx {
      min-width: 0;
    }

    .whitelist-heading {
      margin-bottom: 0;
    }
  }

  .ctx-menu {
    position: absolute;
    background-color: white;

    .panel-seperator {
      padding: 0;
    }

    .include .panel-icon {
      color: #29A81A;
    }

    .exclude .panel-icon {
      color: #FF0000;
    }

    .condition .panel-icon {
      color: #FFA500;
    }

    .response .panel-icon {
      color: #1E90FF;
    }

    .milestone .panel-icon {
      color: #BC1AF2;
    }
  }
  
  .extra-info {
    color: #b7b7b7;
  }
}

