#sidebar {
    background: #454545;
    padding: 20px;
    height: 100%;

    .logo {
        text-align: center;

        img {
            width: 50%;
            opacity: .9;
        }
    }

    .menu-label {
        color: #fff;
    }

    .menu-list * {
        color: #efefef;
    }

    .menu-list *:hover {
        color: #454545;
    }
}
